aiofiles==23.2.1
fastapi==0.104.1
itsdangerous==2.1.2
Jinja2==3.1.2
pydantic==2.5.2
pydantic-settings==2.1.0
pydantic_core==2.14.5
python-multipart==0.0.6
requests==2.31.0
uvicorn==0.24.0.post1
websockets==12.0
